.MuiTab-textColorPrimary {
    color: #ffffff7a!important;
}
.MuiTabs-root {
    background: #d3171e!important;
}
.Mui-selected {
    color: white!important;
}
.MuiPaper-elevation1 {
    box-shadow: none!important;
}