.MuiTypography-body1 {
    max-width: 125px!important;
    font-size: 14px!important;
    line-height: 20px!important;
    color: rgba(0,0,0,.87)!important;
    font-weight: 500!important;
}

.months {
    font-size: 10px!important;
    display: block!important;
    line-height: 14px!important;
    color: rgba(0,0,0,.54)!important;
}

.list-item:hover {
    background-color: rgb(224, 243, 228)!important;
}

.MuiList-padding {
    padding-top: 0px!important; 
    padding-bottom: 0px!important; 
}

.inbound {
    font-weight: 400!important;
    color: red!important;
}