.create-transaction-box {
    position: relative;
    background: #fff;
    border-radius: 4px;
    margin: 10px auto;
    max-width: 1000px;
    margin-top: 84px;
    min-height: 400px;
    margin-bottom: 84px;
}

.shadow {
    box-shadow: 0 3px 24px 0 rgba(0,0,0,.12);
}

.add-transaction-text {
    font-weight: 500!important;
    font-size: 20px;
    line-height: 24px;
    color: white;
    font-weight: 500;
    font-family: Roboto,sans-serif;
}

.add-transaction-div {
    padding: 20px 30px;
    box-shadow: 0 1px 0 0 #e0e0e0;
    background-color: #d3171e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.add-new-components-div {
    padding: 20px 20px 0px 20px;
    display: flex;
}

.input-control {
    padding: 8px;
    width: 100%;
}

.text-min-wid {
    max-width: 200px;
}

.notes-text {
    font-weight: 439!important;
    font-size: 16px!important;
    padding-bottom: 15px!important;
}

.float-right {
    float: right;
}